extends ../../../index.jade

block vars
	- var task = 'Грамматические упражнения'
	- var items = 3

block columns
	.exercise_column
		.exercise_blocks_block
			include ../../../types/drop.jade
			.exercise_block(class='drop_words')

				if select == 1
					.drop_items
						p В, НА, ИЗ или К?
						ol
							li!= item('Через неделю мы поедем отдыхать {list:в|на|из|к} Испанию.')
							li!= item('Ты хочешь пойти {list:в|из|на|к} молодёжный театр {list:на|в|к} премьеру спектакля?')
							li!= item('Саша пришёл {list:из|в|на|к} университета, а потом пошёл домой {list:к|в|из|на,} Ивану.')
							li!= item('Друзья едут {list:на|в|к|из} стадион на такси, потому что у них мало времени.')
							li!= item('Итальянская подруга пригласила Андрея {list:в|из|на|к} гости, и Андрей собирается ехать {list:к|в|из|на,} ней {list:в|из|на|к} гости осенью.')
							li!= item('Виктор приехал месяц назад {list:из|на|в|к} Германии, он был там неделю {list:на|в|из|к} семинаре.')
							li!= item('Вы пойдёте {list:на|в|из|к} конференцию, которая  будет в институте?')

				if select == 2
					.drop_items
						p Вставьте пропущенный глагол.
						ol
							li!= item('– Привет, Надя! Ты сейчас занята? Куда {list:идёшь|иду|поеду|приехал}?')
							li!= item('- Я очень занята, {list:иду|идёшь|поеду|приехал} на работу.')
							li!= item('- Ты всегда работаешь! А что ты делаешь  субботу?')
							li!= item('- В субботу я {list:поеду|идёшь|иду|приехал} на дачу к Вадиму, он вчера пригласил меня в гости.')
							li!= item('- А Вадим уже  {list:приехал|идёшь|иду|поеду} в Москву? Я не знал…')
							li!= item('- Да, Вадим {list:приехал|идёшь|иду|поеду} на прошлой неделе.')
							li!= item('– Скажите, что вы собираетесь делать сегодня вечером?')
							li!= item('- Неверное, {list:пойдём|ходили|приехали} на дискотеку в клуб «Б2».')
							li!= item('- Вы думаете, что будет интересно? Мы туда уже {list:ходили|пойдём|приехали} в понедельник.')
							li!= item('- Но сегодня вечером там будет играть американская рок-группа «Авангард»! Группа только вчера  {list:приехала|пойдём|ходила} в Москву.')
							li!= item('– Что ты делала на прошлой неделе в воскресенье?')
							li!= item('- Я и мои друзья, {list:ездили|приехали|поедем} в Сергиев - Посад, мы были там весь день.')
							li!= item('- Но я  звонил тебе в 9  часов, а тебя не было дома.')
							li!= item('- Наверное, мы еще не {list:приехали|ездили|поедем} из Сергиева – Посада.')
							li!= item('- Вам понравился город?')
							li!= item('- Очень, думаю, что мы обязательно {list:приехали|ездили|поедем} туда еще раз.')

				if select == 3
					.drop_items
						p Выберите правильный вариант.
						ol
							li!= item('Николай подарил новый компьютер {list:сыну|сын|сына}.')
							li!= item('Иван хочет подарить музыкальный диск {list:подруге|подруга|подругу}.')
							li!= item('{list:Кому|кто|кого} ты звонишь?')
							li!= item('Что ты хочешь принести {list:Виктору|Виктора|Виктор}?')
							li!= item('Покажите {list:нам|мы|нас}, пожалуйста, эту вазу.')
							li!= item('Андрей пригласил {list:Лену|Лена|Лене} в театр и купил {list:ей|она|её} билет.')
							li!= item('Что ты посоветуешь {list:мне|я|меня} приготовить  на праздник?')
