extends ../../../index.jade

block vars
	- var task = 'Письмо'
	- var items = 2

block columns
	.exercise_column
		.exercise_blocks_block
			include ../../../types/drop.jade
			.exercise_block(class='drop_words')

				if select == 1
					.drop_items
						p В, НА, ИЗ или К?
						ol
							li!= item('{list:я|ты|он|она|мы|вы|они} собираюсь пойти в  магазин сейчас.')
							li!= item('{list:вы|ты|он|она|мы|я|они} собираетесь ехать на экскурсию в Суздаль?')
							li!= item('{list:они|ты|он|она|мы|вы|я} собираются пойти в кино на новый фильм.')
							li!= item('{list:ты|я|он|она|мы|вы|они} собирался рассказать нам о своей работе.')
							li!= item('{list:она|ты|я|он|мы|вы|они} собиралась купить подарок для друга.')
							li!= item('{list:ты|я|он|она|мы|вы|они} собираешься пойти в гости или нет?')
							li!= item('{list:мы|ты|он|она|я|вы|они} собираемся встретиться у метро в 5 часов.')

				if select == 2
					.drop_items
						p Вставьте пропущенный глагол.
						ol
							li!= item('Мы встреча {list:емся|ются|етесь|ется} каждый вечер около остановки.')
							li!= item('Ты знаешь, что они собира{list:ются|емся|етесь|ется} завтра поехать отдыхать на дачу?')
							li!= item('Вера и Андрей фотографиру {list:ются|емся|етесь|ется} в Москве около цирка.')
							li!= item('Посмотри, турист из Кореи фотографиру {list:ется|ются|емся|етесь} на Красной площади.')
							li!= item('Где вы хотите встрет {list:иться|имся|ятся|ишься} завтра?')
							li!= item('Твои друзья мне очень нрав{list:ятся|ится|имся|итесь}.')
							li!= item('Тебе нра{list:ится ятся|имся|итесь} моя новая машина?')
