extends ../../../index.jade

block vars
	- var task = 'Лексические упражнения'
	- var items = 1

block columns
	.exercise_column
		.exercise_blocks_block
			include ../../../types/drop.jade
			.exercise_block(class='drop_words')

				if select == 1
					.drop_items
						p Выберите подходящий по смыслу глагол.
						ol
							li!= item('Ты знаешь, как {list:называется|встречаются|находится|собирается|познакомились|встречаются} эта красивая площадь?')
							li!= item('Скажите, пожалуйcта, где  здесь {list:находится|встречаются|называется|собирается|познакомились|встречаются} обменный пункт?')
							li!= item('Анна {list:собирается|встречаются|называется|находится|познакомились|встречаются} поехать в гости завтра вечером.')
							li!= item('Андрей и Мария каждую неделю {list:встречаются|называется|находится|собирается|познакомились|встречаются} на работе.')
							li!= item('Саша и  Татьяна {list:познакомились|встречаются|называется|находится|собирается|встречаются}, когда вместе поехали работать в Петербург.')