extends ../../../index.jade

block vars
	- var task = 'Грамматические упражнения'
	- var items = 3

block columns
	.exercise_column
		.exercise_blocks_block
			include ../../../types/drop.jade
			.exercise_block(class='drop_words')

				if select == 1
					.drop_items
						p Выберите правильный вариант.
						ol
							li!= item('Мне 15 {list:лет|года|год}.')
							li!= item('Этому студенту 22  {list:года|лет|год}.')
							li!= item('Это мой дедушка. Ему 91  {list:год|лет|года,}.')
							li!= item('Анне 46  {list:лет|года|год}.')
							li!= item('Ребёнку только 4  {list:года|лет|год}.')
							li!= item('Это моя сестра, ей 57  {list:лет|года|год}.')

				if select == 2
					.drop_items
						p Какое окончание правильное?
						ol
							li!= item('Это Марина. Марин {list:е|а|у} 15 лет.')
							li!= item('Это мои брат и сестра. Брат {list:у|а|е} 19 лет, а сестр {list:е|у|а}12 лет.')
							li!= item('Там стоит Иван. Иван {list:у|а|е} 24 года.')
							li!= item('Ты знаешь, сколько лет Андре {list:ю|й|я}?')
							li!= item('Я не помню, сколько лет Мари {list:и|я|ю}.')

				if select == 3
					.drop_items
						p Вставьте  правильный вариант.
						ol
							li!= item('Ты любишь чай с {list:сахаром|сахар|сахару}?')
							li!= item('Я не хочу суп с {list:мясом|мясо|мясе}.')
							li!= item('Ты будешь есть картошку с {list:рыбой|рыбу|рыба}?')
							li!= item('Дай мне, пожалуйста, бутерброд с {list:сыром|сыр|сыра} и воду с {list:газом|газа|газ}.')
							li!= item('Анна с {list:Максимом|Максим|Максима} приехали из Владимира.')
							li!= item('Мы вчера играли на стадионе с {list:Иваном|Иван|Ивана}.')
							li!= item('Друзья не любят окрошку с {list:квасом|квас|кваса}.')
