extends ../../../index.jade

block vars
	- var task = 'Лексические упражнения'
	- var items = 1

block columns
	.exercise_column
		.exercise_blocks_block
			include ../../../types/drop.jade
			.exercise_block(class='drop_words')

				if select == 1
					.drop_items
						p СМОТРЕТЬ или ВИДЕТЬ? СЛЫШАТЬ или СЛУШАТЬ?
						ol
							li!= item('Мы часто ходим в кино {list:смотреть|видеть} новые фильмы.')
							li!= item('– Ты давно {list:видел|смотрел} Анну?')
							li!= item('– Нет, я вчера был у Андрея и {list:видел|смотрел} её там.')
							li!= item('– Ты {liat:видел|смотрел} Кремль в Москве? – Конечно, {liat:видел|смотрел}, он очень красивый!')
							br
							li!= item('Вчера по радио я {list:слышал|слушал}, что  погода в воскресенье будет хорошая.')
							li!= item('Марина любит {list:слушать|слышать} музыку в консерватории. Она часто ходит в консерваторию {list:слушать|слышать} музыку.')
							br
							li!= item('– Вы {list:слышите|слушаете} эти странные звуки?')
							li!= item('– Повтори ещё раз, что ты сказала, я ничего не {list:слышу|слушаю}!')
							br
							li!= item('Я тебя внимательно {list:слушаю|слышу}')