extends ../../../index.jade

block vars
	- var task = 'Грамматические упражнения'
	- var items = 3

block columns
	.exercise_column
		.exercise_blocks_block
			include ../../../types/drop.jade
			.exercise_block(class='drop_words')

				if select == 1
					.drop_items
						p Выберите правильную форму:
						ol
							li!= item('Мы {list:готовы|готов|готово} встретить вас в аэропорту.')
							li!= item('Мария всегда {list:рада|рад|рады} слушать музыку.')
							li!= item('Студент {list:должен|должны|должна} читать и писать много.')
							li!= item('Вы {list:уверены|уверен|уверена}, что знаете нас?')
							li!= item('Кто {list:готов|готова|готовы} ужинать сейчас?')

				if select == 2
					.drop_items
						p Заполните пропуски:
						ol
							li!= item('{list:Вам|Вы|Вас} надо отдыхать летом.')
							li!= item('{list:Я|Мне|Меня} хочу рассказать о своём друге.')
							li!= item('{list:Нам|Мы|Нас} нужно смотреть новые фильмы в кино.')
							li!= item('{list:Вы|Ты|Он} должны много работать завтра.')

				if select == 3
					.drop_items
						p Вставить правильный предлог.
						ol
							li!= item('Мы сейчас завтракаем {list:в|на|за|о} ресторане.')
							li!= item('Ваш ужин уже {list:на|в|за|о} столе.')
							li!= item('Мама, ты сейчас дома, {list:в|на|за|о} Канаде?')
							li!= item('Джон не может заплатить {list:за|на|в|о} завтрак.')
							li!= item('Джон хочет рассказать {list:о|на|за|в} своей проблеме.')
							li!= item('Джон всё время думает {list:о|на|за|в} Марии.')
							li!= item('Мама Джона должна платить {list:за|на|в|о} разговор по телефону.')