extends ../../../index.jade

block vars
	- var task = 'Лексические упражнения'
	- var items = 3

block columns
	.exercise_column
		.exercise_blocks_block
			include ../../../types/drop.jade
			.exercise_block(class='drop_words')

				if select == 1
					.drop_items
						p Сделайте правильный выбор:
						ol
							li!= item('Сегодня {list:вторник|во вторник}. Вчера, {list:в понедельник|понедельник} я был в театре.')
							li!= item('Мы обедали в ресторане {list:в пятницу|пятница}, а {list:в субботу|суббота} слушали концерт.')
							li!= item('Обычно  этот магазин работает вечером {list:в субботу|воскресенье|суббота|в воскресенье}.')
							li!= item('Сегодня {list:среда|в среду}. Моя мама обычно звонит  {list:в среду|среда} вечером, но сегодня она не звонила.')
							li!= item('Обычно {list:в субботу|суббота} утром я гуляю в парке. Вчера тоже была {list:суббота|в субботу}, но я не смог гулять в парке, потому что был очень занят.')