extends ../../../index.jade

block vars
	- var task = 'Грамматические упражнения'
	- var items = 5

block columns
	.exercise_column
		.exercise_blocks_block
			include ../../../types/drop.jade
			.exercise_block(class='drop_words')

				if select == 1
					.drop_items
						p Глаголы потеряли свои окончания. Выберите правильные окончания:
						ol
							li!= item('Вы зна{list:ете|ет|ит|ют|ите|им|ешь|ю|ем|ишь|ят}, что это?')
							li!= item('Вы не зна{list:ете|ет|ит|ют|ите|им|ешь|ю|ем|ишь|ят}, где Мария?')
							li!= item('Она не понима{list:ет|ете|ит|ют|ите|им|ешь|ю|ем|ишь|ят}, где она.')
							li!= item('Мы понима{list:ем|ет|ит|ют|ите|им|ешь|ю|ете|ишь|ят}, что этот чемодан не наш.')
							li!= item('Они говор{list:ят|ет|ит|ют|ите|им|ешь|ю|ем|ишь|ете} хорошо.')
							li!= item('Вы говор{list:ите|ет|ит|ют|ете|им|ешь|ю|ем|ишь|ят}, что номер удобный?')
							li!= item('Они говор{list:ят|ет|ит|ют|ите|им|ешь|ю|ем|ишь|ете}, что гостиница хорошая.')

				if select == 2
					.drop_items
						p Вставьте пропущенное слово:
						ol
							li!= item('Что это? {list:Стол|Столе|Стола}.')
							li!= item('Где журнал? На {list:столе|стол|стола}.')
							li!= item('Где цветы? На {list:окне|окно|окном}.')
							li!= item('Что это? {list:Окно|Окне|Окном}.')
							li!= item('Что это? {list:Стена|Стене|Стеной}.')
							li!= item('Где часы? На {list:стене|cтена|стеной}.')

				if select == 3
					.drop_items
						p Вставьте пропущенные союзы:
						ol
							li!= item('Это мальчик {list:или|и|а|но} девочка?')
							li!= item('Твоя страна большая {list:или|и|а|но} маленькая?')
							li!= item('Эта история длинная, {list:но|а|или} интересная.')
							li!= item('Здесь не картина, {list:а|или|и|но} фотография.')
							li!= item('У меня дома есть компьютер {list:и|или|а|но} телевизор.')
							li!= item('Завтрак в гостинице хороший, {list:но|или|а|и} дорогой.')
							li!= item('Студенты вечером не в университете, {list:а|или|и|но} на дискотеке.')
							li!= item('Вы сейчас смотрите фильм {list:или|и|а|но} читаете журнал?')
							li!= item('Наша встреча утром {list:или|и|а|но} вечером?')

				if select == 4
					.drop_items
						p Заполните пропуски:
						ol
							li!= item('{list:Какая|Какой|Какое|Какие|Чья|Чей|Чьё|Чьи} это машина? Это большая машина.')
							li!= item('{list:Чья|Чей|Чьё|Чьи|Какой|Какая|Какое|Какие} это машина? Это наша машина.')
							li!= item('{list:Какие|Какой|Какая|Какое|Чья|Чей|Чьё|Чьи} это улицы? Это красивые улицы.')
							li!= item('{list:Чьи|Чей|Чья|Чьё|Какой|Какая|Какое|Какие} это улицы? Это ваши улицы.')
							li!= item('{list:Какое|Какой|Какая|Какие|Чья|Чей|Чьё|Чьи} это яблоко? Это зеленое яблоко.')
							li!= item('{list:Чьё|Чей|Чья|Чьи|Какой|Какая|Какое|Какие} это яблоко? Это твоё яблоко.')
							li!= item('{list:Какой|Какая|Какое|Какие|Чья|Чей|Чьё|Чьи} это университет? Это хороший университет.')
							li!= item('{list:Чей|Чья|Чьё|Чьи|Какой|Какая|Какое|Какие} это университет? Это наш университет.')

				if select == 5
					.drop_items
						p Выберите правильную форму глагола:
						ol
							li!= item('Я вас не понима{list:ю|ешь|ете}.')
							li!= item('Люди всё понима{list:ют|ем|ешь}.')
							li!= item('Что Вы понима{list:ете|ешь|ют}?')
							li!= item('Сергей много зна{list:ет|ешь|ете} и понима{list:ет|ешь|ете}.')
							li!= item('Что вы хот{list:ите|ешь|ят}?')
							li!= item('Людмила ничего не хоч{list:ет|ешь|ете}.')
							li!= item('Туристы много хот{list:ят|у|ет}.')
							li!= item('Что сейчас дела{list:ет|ешь|ете} Вадим?')
							li!= item('Я и моя подруга, мы работа{list:ем|ют|ю} сегодня.')
							li!= item('Мы ничего не слыш{list:им|ат|ишь}.')
							li!= item('Я слыш{list:у|ат|ишь} радио.')
							li!= item('Вы слыш{list:ите|ат|им} телефон?')