extends ../../../index.jade

block vars
	- var task = 'Грамматические упражнения'
	- var items = 3

block columns
	.exercise_column
		.exercise_blocks_block
			include ../../../types/drop.jade
			.exercise_block(class='drop_words')

				if select == 1
					.drop_items
						p Глаголы потеряли свои окончания. Выберите правильные окончания:
						ol
							li!= item('Что ты хоч{list:ешь|ет|у|ите|им|ят} на завтрак?')
							li!= item('Я хоч{list:у|ешь|ет|ите|им|ят} омлет, а моя сестра хоч{list:ет|ешь|у|ите|им|ят} маленький бутерброд.')
							li!= item('Они не хот{list:ят|ешь|ет|ите|им|у} десерт.')
							li!= item('Что вы хот{list:ите|ят|ешь|ет|им|у} заказать на десерт?')
							li!= item('Мы хот{list:им|ите|ят|ешь|ет|у} этот торт, нам нравится этот большой торт.')
							li!= item('Я зна{list:ю|ите|ят|ишь|ит|им}, что ты люб{list:ишь|ю|ите|ят|ит|им} овощные салаты.')
							li!= item('Кто люб{list:ит|ишь|ю|ите|ят|им} на завтрак кофе?')
							li!= item('Мои родители не люб{list:ят|ит|ишь|ю|ите|им} красную рыбу.')
							li!= item('Мой друг не знал, что мы люб{list:им|ит|ишь|ю|ите|ят} вкусный десерт.')
							li!= item('Я любл{list:ю|ите|ят|ишь|ит|им} блины и икру.')

				if select == 2
					.drop_items
						p Добавьте правильные окончания::
						ol
							li!= item('Сегодня на завтрак я хочу бутерброд{list:ы|у|е}, коф{list:е|ю|я},сок{list: |е|и}, и вод{list:у|а|е}.')
							li!= item('На обед Иван хочет суп-лапш{list:у|а|е}.')
							li!= item('Гарнир – картошк{list:а|у|е}, овощ{list:и|е|ы} и рис{list: |а|е|у}.')
							li!= item('Мы хотим заказать рыб{list:у|е|а} и рис{list: |а|е|у}, Наташа хочет котлет{list:у|а|е} и овощ{list:и|е|ы}.')
							li!= item('Дайте мне, пожалуйста, морожено{list:е|я|у} и чай.')