extends ../../../index.jade

block vars
	- var task = 'Грамматические упражнения'
	- var items = 5

block columns
	.exercise_column
		.exercise_blocks_block
			include ../../../types/drop.jade
			.exercise_block(class='drop_words')

				if select == 1
					.drop_items
						p Какой глагол правильный?
						ol
							li!= item('Я собираюсь {list:пойти|быть} к другу на день рожденья в пятницу.')
							li!= item('Мы {list:были|ездили} в Петербург на экскурсию на прошлой неделе.')
							li!= item('Ты {list:поедешь|будешь} в Киев с подругой или одна?')
							li!= item('Завтра в 7 часов вы уже {list:будете|приедете} дома?')
							li!= item('Сёстры Юля и Катя вчера днём {list:были|пришли} у врача.')
							li!= item('Мы должны {list:приехать|быть} к вам рано утром.')

				if select == 2
					.drop_items
						p Какая форма правильная?
						ol
							li!= item('Я хочу купить этот фильм для {list:тебя|тебе|тебя}.')
							li!= item('Миша всё время думает о {list:ней|она|неё}.')
							li!= item('Без {list:них|ним|они } мне будет неинтересно на вечере.')
							li!= item('У {list:кого|кто|кому} есть мобильный телефон?')
							li!= item('Я хочу сделать это специально для {list:вас|вам|вами}.')

				if select == 3
					.drop_items
						p Выберите правильный вариант.
						ol
							li!= item('Это мой друг Иван. {list:Ему|он|его} 49 лет. {list:Он|ему|его} бизнесмен.')
							li!= item('Моя дочь Ирина еще не работает. {list:Ирине|Ирина|Ирину} только 16 лет.')
							li!= item('Вот мои знакомые Анна и Сережа. {list:Анне|Анна|Анну} 35 лет, а {list:Сереже|Сережа|Сережу} только 4 года.')
							li!= item('Подожди одну минуту, я позвоню {list:маме|мама|маму}!')
							li!= item('Что ты собираешься подарить {list:детям|дети|детях}?')
							li!= item('Вера и Катя отдыхали в Испании, там {list:им|они|них} всё очень понравилось.')

				if select == 4
					.drop_items
						p Выберите правильный вариант.
						ol
							li!= item('С {list:кем|кто|кого} ты хочешь пойти на дискотеку вечером?')
							li!= item('Недавно мы встречались с {list:друзьями|друзьям|друзья} из Англии.')
							li!= item('Маша, о {list:чём|что|чего} ты так долго говоришь по телефону с {list:Мишей|Мишу|Миши}?')
							li!= item('{list:Кому|кем|кого} мама звонила пять минут назад?')
							li!= item('Ты будешь есть суп с {list:хлебом|хлебу|хлеба} или без {list:хлеба|хлебу|хлебом}?')