extends ../../../index.jade

block vars
	- var task = 'Грамматические упражнения'
	- var items = 3

block columns
	.exercise_column
		.exercise_blocks_block
			include ../../../types/drop.jade
			.exercise_block(class='drop_words')

				if select == 1
					.drop_items
						p Вставьте пропущенное местоимение:
						ol
							li!= item('Я сейчас говорю с Виктором по телефону. А ты будешь говорить с {list:ним|тобой|мной|ней|нами|вами|ними}?')
							li!= item('Это мои друзья, я часто езжу с {list:ними|тобой|ним|ней|нами|вами|мной} отдыхать.')
							li!= item('Лена – моя хорошая подруга, я познакомилась с {list:ней|тобой|ним|мной|нами|вами|ними} очень давно.')
							li!= item('Я хорошо танцую, ты хочешь танцевать со {list:мной|тобой|ним|ней|нами|вами|ними}?')
							li!= item('Если ты позвонишь мне утром, я думаю, что в 12 я могу встретиться с {list:тобой|мной|ним|ней|нами|вами|ними} у метро.')
							li!= item('Вы недавно приехали из Москвы, о чём Джон разговаривал с {list:ними|тобой|ним|ней|нами|вами|мной}?')

				if select == 2
					.drop_items
						p Выберите правильный вариант.
						ol
							li!= item('Туристы поедут завтра на экскурсию в Ярославль. Они {list:будут смотреть|посмотрят} интересные места в Ярославле три дня. Когда они {list:посмотрят|будут смотреть} все памятники и музеи в городе, они поедут обратно в Москву.')
							li!= item('Марина собирается в магазин  «Цветы». Там она {list:будет покупать|купит} цветы  для мамы, потому что завтра у мамы день рожденья. Когда она {list:купит|будет покупать} цветы, она сразу поедет поздравить маму с днём рожденья.')
							li!= item('Когда я {list:сдам |буду сдавать} экзамены в университете летом, я поеду в Сибирь с другом. Я буду {list:сдавать|сдать} экзамены только две недели, поэтому у меня будет свободное время для путешествия.')
							li!= item('От аэропорта до дома я обычно {list:беру|возьму} такси. Но в следующий понедельник Виктор обещал встретить меня на своей машине, поэтому я не {list:буду брать|возьму} такси.')
							li!= item('Марта рассказала мне, что она скоро поедет  на Байкал и {list:будет отдыхать|отдохнет} там три месяца. Когда она {list:отдохнёт|будет отдыхать}, она приедет обратно.')

				if select == 3
					.drop_items
						p В, НА, У, К, ОКОЛО, ОТ, БЕЗ, ДЛЯ – что правильно?
						ol
							li!= item('{list:в|на|у|к|около|от|без} понедельник Катя весь день была {list:на|в|у|к|около|от|без} работе.')
							li!= item('После работы она поехала {list:к|на|у|в|около|от|без} маме, потому что обещала помочь ей дома.')
							li!= item('Катя ехала сначала {list:на|в|у|к|около|от|без} метро, потом {list:на|в|у|к|около|от|без} троллейбусе – её мама живёт далеко {list:от|в|у|к|около|на|без} работы Кати.')
							li!= item('{list:Около|на|у|к|в|от|без} остановке троллейбуса Катя купила фрукты {list:для|на|в|у|к|около|от|без} мамы и цветы.')
							li!= item('Она думала, что неприлично приехать {list:к|на|у|в|около|от|без} маме {list:без|на|у|к|около|от|в} подарка.')
							li!= item('Катя была дома {list:у|на|в|к|около|от|без} мамы только {list:в|на|у|к|около|от|без} 9 часов вечера.')
