extends ../../../index.jade

block vars
	- var task = 'Грамматические упражнения'
	- var items = 5

block columns
	.exercise_column
		.exercise_blocks_block
			include ../../../types/drop.jade
			.exercise_block(class='drop_words')

				if select == 1
					.drop_items
						p Выберите правильную форму:
						ol
							li!= item('Мои друзья {list:живут|живёт|жил} сейчас на Украине в городе Киеве.')
							li!= item('Раньше я {list:жил|живу|живёшь} далеко от центра, в провинции.')
							li!= item('Лёва и его семья {list:любят|люблю|любите} Москву и Киев.')
							li!= item('Вы {list:любите|любят|люблю} завтракать  дома или в ресторане?')
							li!= item('Она не {list:слышит|слышу|слышишь}, что говорит её брат.')
							li!= item('Кто {list:слышит|слышат|слышишь} музыку?')
							li!= item('Что вы обычно {list:едите|есть|ем} на завтрак?')
							li!= item('Ты много {list:ешь|едим|едят} на работе?')
							li!= item('Я слышал эту историю раньше, но сейчас ничего не {list:помню|помнить|помнишь}.')
							li!= item('Мы {list:помним|помню|помните}, что вы любите на завтрак.')

				if select == 2
					.drop_items
						p Выберите из предложенных вариантов правильный:
						ol
							li!= item('Мои друзья хорошо говорят {list:по-немецки|немецкий язык}.')
							li!= item('Я немного знаю {list:английский|по-английски} язык.')
							li!= item('Мы совсем не понимали в России {list:русский|по-русски} язык.')
							li!= item('Вы говорите {list:по-японски|японский}?')
							li!= item('Они плохо знают {list:украинский|по-украински} язык.')
							li!= item('Моя знакомая неплохо говорит {list:по-украински|украинский язык}.')
							li!= item('Кто понимает {list:по-французски|французский}?')

				if select == 3
					.drop_items
						p Вставьте пропущенные местоимения:
						ol
							li!= item('{list:Ты|Я|Он|Мы|Вы|Они|Она|Оно} можешь позвонить мне завтра?')
							li!= item('Сегодня в ресторане {list:мы|я|ты|он|вы|они|она|оно} едим красную икру и блины.')
							li!= item('Почему {list:ты|я|он|мы|вы|они|она|оно} думаешь, что на фотографии моя знакомая?')
							li!= item('{list:Они|Я|Ты|Он|Мы|Вы|Она|Оно} могут заплатить за твой обед.')
							li!= item('{list:Вы|Я|Ты|Он|Мы|Они|Она|Оно} платите сейчас за наш обед, {list:я|ты|он|мы|вы|они|она|оно} плачу завтра утром за завтрак.')
							li!= item('{list:Он|Я|Ты|Мы|Вы|Они|Она|Оно} ничего не помнит, что было вчера.')

				if select == 4
					.drop_items
						p Задайте вопрос, используя вопросительные слова:
						ol
							li!= item('{list:Какая|Какой|Какое|Какие|Чей|Чья|Чьё|Чьи} у вас гостиница – дорогая или недорогая?')
							li!= item('{list:Чей|Какой|Какая|Какое|Какие|Чья|Чьё|Чьи} это номер  - твой или мой?')
							li!= item('{list:Какое|Какой|Какая|Какие|Чей|Чья|Чьё|Чьи} блюдо ты хочешь – горячее или холодное?')
							li!= item('{list:Чьё|Какой|Какая|Какое|Какие|Чей|Чья|Чьи} это вино – ваше или моё?')
							li!= item('{list:Какие|Какой|Какая|Какое|Чей|Чья|Чьё|Чьи} дома вы видели  в Москве – высокие или невысокие?')
							li!= item('{list:Чья|Какой|Какая|Какое|Какие|Чей|Чьё|Чьи} это проблема – ваша или наша?')
							li!= item('{list:Какие|Какой|Какая|Какое|Чей|Чья|Чьё|Чьи} друзья у тебя в школе – интересные или неинтересные?')
							li!= item('{list:Какая|Какой|Какое|Какие|Чей|Чья|Чьё|Чьи} твоя подруга – красивая или некрасивая?')
							li!= item('{list:Какие|Какой|Какая|Какое|Чей|Чья|Чьё|Чьи} у тебя проблемы – большие или небольшие?')

				if select == 5
					.drop_items
						p Выберите из предложенных вариантов правильный:
						ol
							li!= item('Я вижу {list:машину|машина|машине}.')
							li!= item('Вечером на ужин мы едим {list:салат|салате|салата} или {list:бутерброды|бутерброда|бутерброде}.')
							li!= item('На {list:улице|улица|улиц} в Москве не холодно.')
							li!= item('Вы любите {list:музыку|музыка|музыки}?')
							li!= item('Ты хорошо слышишь {list:меня|мне|я}?')
							li!= item('Мои знакомые давно живут в {list:Канаде|Канада|Канаду}.')
							li!= item('Кремль в {list:центре|центр|центра} Москвы.')
							li!= item('Вы можете позвонить {list:нам|мы|нас} завтра?')
							li!= item('Дайте {list:нам|мы|нас} меню, пожалуйста!')