extends ../../../index.jade

block vars
	- var task = 'Лексические упражнения'
	- var items = 1

block columns
	.exercise_column
		.exercise_blocks_block
			include ../../../types/drop.jade
			.exercise_block(class='drop_words')

				if select == 1
					.drop_items
						p Вставьте подходящее по смыслу слово или выражение.
						ol
							li!= item('Я думаю, что идти на день рожденья без подарка – это {list:неприлично|куча дел|полная каша|весело|всё равно|удобно|пошли!}.')
							li!= item('К сожалению, Сергей не сможет поехать с вами отдыхать, у него {list:куча дел|полная каша|неприлично|весело|всё равно|удобно|пошли!}.')
							li!= item('Ты опять не помнишь, что мы делаем сегодня вечером и что завтра вечером?! У тебя просто {list:полная каша|куча дел|неприлично|весело|всё равно|удобно|пошли!} в голове!')
							li!= item('Я не знаю, куда пойти завтра вечером  - мне {list:всё равно|куча дел|неприлично|весело|полная каша|удобно|пошли!}.')
							li!= item('Вам {list:удобно|куча дел|неприлично|весело|всё равно|полная каша|пошли!} встретиться с нами  в  8 часов?')
							li!= item('Мы были на джаз - концерте вместе с Джоном, было очень {list:весело|куча дел|неприлично|полная каша|всё равно|удобно|пошли!}.')
							li!= item('Я жду тебя уже полчаса, ты готова наконец? {list:Пошли!|куча дел|неприлично|весело|всё равно|удобно|полная каша}')