extends ../../../index.jade

block vars
	- var task = 'Письмо'
	- var items = 3

block columns
	.exercise_column
		.exercise_blocks_block
			include ../../../types/drop.jade
			.exercise_block(class='drop_words')

				if select == 1
					.drop_items
						p Вставьте пропущенное местоимение.
						ol
							li!= item('{list:она|ты|он|я|мы|вы|они} познакомилась с Иваном в самолёте.')
							li!= item('{list:они|ты|он|она|мы|вы|я} ещё учатся сейчас в школе.')
							li!= item('{list:ты|я|он|она|мы|вы|они} учишься или уже работаешь?')
							li!= item('{list:вы|ты|он|она|мы|я|они} часто знакомитесь на улице?')
							li!= item('{list:я|ты|он|она|мы|вы|они} учусь в университете уже 3 года.')
							li!= item('{list:мы|ты|он|она|я|вы|они} часто проводим 2 недели на море летом.')
							li!= item('Как {list:они|ты|он|она|мы|вы|я} проводишь свободное время?')
							li!= item('{list:я|ты|он|она|мы|вы|они} очень хорошо провожу свободное время одна дома.')
							li!= item('Лена ездила в Петербург, {list:она|ты|он|я|мы|вы|они} провела там всю неделю.')
							li!= item('Марина хорошо знает Антона, {list:они|ты|он|она|мы|вы|я} познакомилась с ним 2 года назад.')
							li!= item('Вера и Андрей давно знают друг друга, потому что {list:они|ты|он|она|мы|вы|я} учились вместе в институте.')

				if select == 2
					.drop_items
						p Допишите окончания глаголов.
						ol
							li!= item('Мы встреча {list:емся|ются|етесь|ется} каждый вечер около остановки.')
							li!= item('Ты знаешь, что они собира{list:ются|емся|етесь|ется} завтра поехать отдыхать на дачу?')
							li!= item('Вера и Андрей фотографиру {list:ются|емся|етесь|ется} в Москве около цирка.')
							li!= item('Посмотри, турист из Кореи фотографируе {list:ется|ются|емся|етесь} на Красной площади.')
							li!= item('Где вы хотите встрет {list:иться|имся|ятся|ишься} завтра?')
							li!= item('Твои друзья мне очень нрав{list:ятся|ится|имся|итесь}.')
							li!= item('Тебе нрав{list:ится ятся|имся|итесь} моя новая машина?')