extends ../../../index.jade

block vars
	- var task = 'Грамматические упражнения'
	- var items = 5

block columns
	.exercise_column
		.exercise_blocks_block
			include ../../../types/drop.jade
			.exercise_block(class='drop_words')

				if select == 1
					.drop_items
						p Вставьте пропущенное слово:
						ol
							li!= item('У Джона даже {list:НЕТ|ЕСТЬ} друга в Москве.')
							li!= item('У Андрея {list:НЕТ|ЕСТЬ}самолёта.')
							li!= item('Здесь недалеко {list:ЕСТЬ|НЕТ} станция метро.')
							li!= item('У нас совсем {list:НЕТ|ЕСТЬ} времени.')
							li!= item('В Москве сегодня {list:НЕТ|ЕСТЬ} дождя.')
							li!= item('У Саши {list:НЕТ|ЕСТЬ} никого в Петербурге.')
							li!= item('В Москве {list:ЕСТЬ|НЕТ} Дом Журналиста.')
							li!= item('У него {list:ЕСТЬ|НЕТ} брат и сестра.')

				if select == 2
					.drop_items
						p Выберите правильный вариант.
						ol
							li!= item('У Джона нет {list:друга|друг|друге} в Москве.')
							li!= item('В этом районе нет {list:остановки|остановка|остановке|остановку} автобуса.')
							li!= item('У нас нет {list:карты|карта|карте|карту} города.')
							li!= item('У Андрея нет {list:билета|билет|билеты|билете} в кино.')
							li!= item('У тебя нет {list:газеты|газете|газету|газета}?')
							li!= item('У Вадима нет {list:денег|деньг|денеги}.')
							li!= item('У нас дома сегодня нет {list:обеда|обед|обеды|обеде}.')

				if select == 3
					.drop_items
						p Выберите правильное окончание.
						ol
							li!= item('У Иван {list:а|ы} есть большая семья и хорошие друзья.')
							li!= item('У Татьян {list:ы|а|у} нет времени гулять, она сейчас работает.')
							li!= item('Смотри, на остановке мои друзья: Татьян {list:а|ы|у} и Иван.')
							li!= item('У кого есть новый французский фильм? Фильм есть у Мари {list:и|ю|я}.')
							li!= item('Я встретил вчера на концерте друг {list:а|у|е} и его девушк {list:у|е|а}. У девушк {list:и|у|а} были красивые цветы.')
							li!= item('Вот мой друг Лёв {list:а|у|е}, а вот визитка и билет Лёв{list:ы|а|е}.')
							li!= item('Это наша знакомая, её зовут Ирин {list:а|ы|е}. Вот дети  Ирин{list:ы|а|е}.')
							li!= item('Вот улицы и площади Итали {list:и|я|ю}.')
							li!= item('Мне очень нравится метро Москв {list:ы|е|а}.')

				if select == 4
					.drop_items
						p Чей? или Какой?
						ol
							li!= item('{list:Какая|Чья} это станция? Это станция «Театральная».')
							li!= item('{list:Какой|Чей} это театр? Это Большой Драматический Театр.')
							li!= item('{list:Чей|Какой} это билет на концерт? Это билет Виктора.')
							li!= item('{list:Чьи|Какие} здесь деньги на столе? Это деньги президента банка.')
							li!= item('{list:Какая|Чья} столица Испании? Столица Испании – Мадрид.')
							li!= item('Ты знаешь, {list:чей|какой} это номер телефона? Нет, не знаю.')

				if select == 5
					.drop_items
						p Выберите правильную форму.
						ol
							li!= item('Я не знаю здесь {list:никого|никто}.')
							li!= item('- Ты слышишь странный звук?')
							li!= item('- Нет, я {list:ничего|ничто} не слышу.')
							li!= item('- Кто сегодня работает?')
							li!= item('- {list:Никто|Никого} сегодня не работает.')
							li!= item('- Вера, вы помните этот концерт?')
							li!= item('- Извините, я {list:ничего|ничто} не помню.')
							li!= item('- Смотри, вон там автобус!')
							li!= item('- Ужасно, но я  {list:ничего|ничто} не вижу.')
							li!= item('– Виктор, кого вы встретили, когда были в аэропорту?')
							li!= item('- Я {list:никого|никто} не встретил.')