extends ../../../index.jade

block vars
	- var task = 'Грамматические упражнения'
	- var items = 3

block columns
	.exercise_column
		.exercise_blocks_block
			include ../../../types/drop.jade
			.exercise_block(class='drop_words')

				if select == 1
					.drop_items
						p Выберите правильную форму:
						ol
							li!= item('Мы уже видели Манеж и Консерваторию, потому что {list:ходили|ехали|шли} по центру Москвы вчера.')
							li!= item('Мария {list:приехала|ходила|шла} из Сибири месяц назад.')
							li!= item('Недавно студенты {list:ездили|приехали|шли} отдыхать на Байкал.')
							li!= item('Вы {list:ездили|приехали|шли} в Петербурге по городу?')
							li!= item('Виктор и Алла сейчас {list:едут|ездили|идут} на машине в Суздаль, а Филипп и его друзья уже {list:ездили|ходили|идут} туда неделю назад.')
							li!= item('Много раз Ирина и Татьяна {list:ездили|ходили|идут} на экскурсию по Европе.')

				if select == 2
					.drop_items
						p Выберите правильный вариант:
						ol
							li!= item('Прошлым летом мы {list:ехали|ездили} на экскурсию на Байкал.')
							li!= item('Вчера я {list:шла|ходила} на интересный концерт в Дом музыки.')
							li!= item('Филипп {list:ехал|ездил} утром на работу на метро.')
							li!= item('Когда вы {list:шли|ходили} в кино в последний раз?')
							li!= item('Сегодня воскресенье. Люди {list:едут|ездили} отдыхать за город.')
							li!= item('Вчера была суббота. Москвичи {list:едут|ездили} за город на дачу.')
							li!= item('Месяц назад Алла {list:едет|ездила} в Италию.')

				if select == 3
					.drop_items
						p Вставьте пропущенные местоимения:
						ol
							li!= item('- Андрей, ты уже был в  {list:Петербурге|Петербург}?')
							li!= item('- Да, я был в  {list:Петербурге|Петербург} 2 года назад. А ты?')
							li!= item('- К сожалению, я никогда не ездила в {list:Петербург|Петербурге}.')
							br
							li!= item('- Наташа, мы едем сейчас гулять в {list:центр|центре}. Ты хочешь?')
							li!= item('- Нет, спасибо, я была в  {list:центре|центр} вчера и сейчас я занята.')
							br
							li!= item('- Вася, что ты делал сегодня утром?')
							li!= item('- Я ходил в {list:банк|банке}, мне нужно было взять деньги.')
							li!= item('- А где ты был в 12 часов?')
							li!= item('- В это время я был в {list:банке|банк}, потому что там было много людей.')
							li!= item('- Я звонила тебе в понедельник вечером. Где ты был?')
							li!= item('- Я ходил в {list:театр|театре} на премьеру спектакля.')
							li!= item('- Тебе понравился спектакль?')
							li!= item('- Да, очень, но спектакль был очень длинный, я пришёл {list:домой|дома|дом} поздно.')