extends ../../../index.jade

block vars
	- var task = 'Грамматические упражнения'
	- var items = 3

block columns
	.exercise_column
		.exercise_blocks_block
			include ../../../types/drop.jade
			.exercise_block(class='drop_words')

				if select == 1
					.drop_items
						p Выберите правильную форму:
						ol
							li!= item('У меня мало денег, только 5 {list:рублей|рубля|рубль}.')
							li!= item('Сколько {list:долларов|доллара|доллар} ты хочешь поменять?')
							li!= item('У него нет {list:долларов|доллар|доллара}.')
							li!= item('Дай мне 100 {list:евро|рубля|доллара}!')
							li!= item('Билет в театр стоит 32 {list:рубля|рубль|рублей}.')
							li!= item('Иностранец поменял 12 {list:долларов|доллара|доллар} на рубли.')
							li!= item('Это недорогая книга, только 24 {list:рубля|рубль|рублей}.')
							li!= item('У Веры совсем нет {list:денег|деньги|деньгам}.')
							li!= item('Тебе надо поменять русские {list:деньги|денег|деньгам}?')
							li!= item('Да, у меня очень мало {list:денег|деньги|деньгам}.')
							li!= item('Сколько {list:денег|деньги|деньгам} ты хочешь?')