extends ../../../index.jade

block vars
	- var task = 'Грамматические упражнения'
	- var items = 3

block columns
	.exercise_column
		.exercise_blocks_block
			include ../../../types/drop.jade
			.exercise_block(class='drop_words')

				if select == 1
					.drop_items
						p Глаголы потеряли свои окончания. Выберите правильные окончания:
						ol
							li!= item('Я зна{list:ю|ит|ют|ите|им|ешь|ет|ете|ем|ишь|ят} этот город.')
							li!= item('Он не зна{list:ет|ит|ют|ите|им|ешь|ю|ете|ем|ишь|ят}, что там.')
							li!= item('Они зна{list:ют|ит|ет|ите|им|ешь|ю|ете|ем|ишь|ят}, где аэропорт.')
							li!= item('Ты понима{list:ешь|ет|ит|ют|ите|им|ете|ю|ем|ишь|ят} его?')
							li!= item('Я ничего не понима{list:ю|ет|ит|ют|ите|им|ешь|ете|ем|ишь|ят}.')
							li!= item('Ты понима{list:ешь|ет|ит|ют|ите|им|ете|ю|ем|ишь|ят}, что эта сумка не твоя?')
							li!= item('Что ты говор{list:ишь|ет|ит|ют|ите|им|ешь|ю|ем|ете|ят}?')

				if select == 2
					.drop_items
						p Вставьте пропущенное слово:
						ol
							li!= item('Где сейчас Марта? В {list:парке|парки|парк}.')
							li!= item('Где студенты? В {list:университете|университета|университеты}.')
							li!= item('Где работает Иван? В {list:банке|банк|банка}.')
							li!= item('Где сейчас твоя жена? Она в {list:магазине|магазин|магазина}.')
							li!= item('Где вещи? В {list:чемодане|чемодана|чемодан}.')
							li!= item('Что это? {list:Чемодан|Чемодана|Чемодане}.')

				if select == 3
					.drop_items
						p Выберите правильное окончание:
						ol
							li!= item('Вот мо{list:и|я|й} хороши{list:ие|ой|ая|ое|ий} друзья.')
							li!= item('Внизу небольш{list:ой|ая|ое|ие} ресторан.')
							li!= item('Мо{list:я|й|и} машина стар{list:ая|ой|ое|ие}, но очень удобн{list:ая|ой|ое|ие}.')
							li!= item('Тво{list:й|я|и} телевизор небольш{list:ой|ая|ое|ие}, но хорош{list:ий|ой|ая|ое|ие}.')
							li!= item('У меня уже больш{list:ие|ая|ое|ой} дети.')
							li!= item('Это вино очень холодн{list:ое|ая|ой|ие}.')