extends ../../../index.jade

block vars
	- var task = 'Лексические упражнения'
	- var items = 5

block columns
	.exercise_column
		.exercise_blocks_block
			include ../../../types/drop.jade
			.exercise_block(class='drop_words')

				if select == 1
					.drop_items
						p Выберите правильный вариант.
						ol
							li!= item('Извините, вы не {list:подскажете|предлагаете}, Большой театр далеко от метро или нет?')
							li!= item('Наш ресторан {list:предлагает|подскажет} вкусные блюда русской кухни.')
							li!= item('Лена не может пойти завтра в театр, она будет очень {list:занята|рада}.')
							li!= item('Конечно, мы очень {list:рады|заняты}, что идём завтра в театр!')
							li!= item('Вы были в России зимой, вам не было там {list:холодно|жарко}?')
							li!= item('Катя рассказала, что когда она отдыхала на море, ей всегда было {list:жарко|холодно}.')