extends ../../../index.jade

block vars
	- var task = 'Грамматические упражнения'
	- var items = 5

block columns
	.exercise_column
		.exercise_blocks_block
			include ../../../types/drop.jade
			.exercise_block(class='drop_words')

				if select == 1
					.drop_items
						p Выберите правильный вариант.
						ol
							li!= item('Мне сегодня {list:нужно|нужен|нужна|нужно|нужны} работать целый вечер.')
							li!= item('Ивану не {list:нужен|нужно|нужна|нужно|нужны} нужен твой номер телефона, он его хорошо помнит.')
							li!= item('Тебе {list:нужно|нужен|нужна|нужно|нужны} приглашение на конференцию  в университет?')
							li!= item('Как ты думаешь, что мне {list:нужно|нужен|нужна|нужно|нужны} купить для мамы?')
							li!= item('Эти тёплые вещи вам не {list:нужны|нужно|нужен|нужна|нужно}!')
							li!= item('Какая газеты была тебе {list:нужна|нужно|нужен|нужно|нужны}?')

				if select == 2
					.drop_items
						p Выберите правильный вариант.
						ol
							li!= item('Виктор и Елена вчера {list:приехали|ехали|шли} в Москву.')
							li!= item('Обычно студенты {list:ездят|ходят} в университет на метро.')
							li!= item('Мы весь вечер  {list:ходили|ездили} пешком по городу, потому что нам было очень интересно.')
							li!= item('Маша, где ты? {list:иди|ходи} сюда!')
							li!= item('Ты сейчас {list:идёшь|едешь} пешком по улице или уже {list:едешь|идёшь} на автобусе?')

				if select == 3
					.drop_items
						p Выберите правильный вариант.:
						ol
							li!= item('– Андрей, я слышала, что сегодня в Москве плохая погода. {list:тебе|тебя|ты} не холодно?')
							li!= item('- Нет, мама, {list:мне|меня|я} совсем не холодно, у меня есть теплая одежда, ты знаешь.')
							li!= item('– Иван Петрович, вы ходили вчера на концерт в Дом Музыки? Концерт был хороший? {list:Вам|вы|вас} было интересно?')
							li!= item('- Да, Ира, концерт был прекрасный,  {list:мне|я|меня} было очень интересно!')
							li!= item('Анна и Вера ходили в пятницу на дискотеку. {list:Им|них|они} было очень весело на дискотеке.')
							li!= item('Оля пригласила Виктора в театр, и после спектакля он сказал, что ему всё очень понравилось. {list:Оле|Оля|Оли} было очень приятно.')

				if select == 4
					.drop_items
						p Выберите правильный вариант.
						ol
							li!= item('Друзья ходили по Петербургу {list: три дня назад|через три дня}.')
							li!= item('Мы поедем в Суздаль {list:через три дня|три дня назад}.')
							li!= item('Где вы были {list:неделю назад|через неделю}?')
							li!= item('Французские туристы поедут в Сибирь {list:через неделю|неделю назад}.')
							li!= item('Ты будешь работать {list:через месяц|месяц назад}?')
							li!= item('У нас были большие проблемы на работе {list:месяц назад|через месяц}.')