extends ../../../index.jade

block vars
	- var task = 'Грамматические упражнения'
	- var items = 3

block columns
	.exercise_column
		.exercise_blocks_block
			include ../../../types/drop.jade
			.exercise_block(class='drop_words')

				if select == 1
					.drop_items
						p Вставьте пропущенное притяжательное местоимение.
						ol
							li!= item('Привет, Андрей! Скажи, а {list:твоя|моя|его|её|свой|свои|своём|своей} сестра Наташа уже дома?')
							li!= item('Нет, {list:моя|твоя|его|её|свой|свои|своём|своей} сестра ещё на работе.')
							li!= item('Марта показала {list:свой|твоя|его|её|моя|свои|своём|своей} паспорт милиционеру. Он внимательно посмотрел {list:её|твоя|его|моя|свой|свои|своём|своей} паспорт.')
							li!= item('У  Джона есть хороший путеводитель. Он часто читал {list:свой|твоя|его|её|моя|свои|своём|своей} путеводитель.')
							li!= item('Известная российская актриса Елена Яковлева работает в театре и в кино. Недавно в интервью она рассказывала о {list:своём|твоя|его|её|свой|свои|моя|своей} театре и о {list:её|твоя|его|моя|свой|свои|своём|своей} работе в кино.')
							li!= item('Вот здесь на фотографии Мария и {list:её|твоя|его|моя|свой|свои|своём|своей} семья: {list:её|твоя|его|моя|свой|свои|своём|своей} брат, {list:её|твоя|его|моя|свой|свои|своём|своей} муж, {list:её|твоя|его|моя|свой|свои|своём|своей} дети. Мария рассказывает нам о {list:своей|твоя|его|её|свой|свои|своём|моя} семье и {list:её|твоя|его|моя|свой|свои|своём|своей} брате.')
							li!= item('Виктор и {list:его|твоя|моя|её|свой|свои|своём|своей} друзья ездили на дачу в воскресенье. На даче Виктор показал им {list:свой|твоя|его|её|моя|свои|своём|своей} красивый новый дом. Друзья посмотрели {list:его|твоя|моя|её|свой|свои|своём|своей} красивый дом.')
							li!= item('Это велосипед Андрея он сейчас едет на {list:своём|твоя|его|её|свой|свои|моя|своей} велосипеде, а его друг Саша смотрит на Андрея и {list:свой|твоя|его|её|моя|свои|своём|своей} велосипед.')
							li!= item('Это фотографии Ольги в детстве. Ольга с удовольствием смотрит {list:свои|твоя|его|её|свой|моя|своём|своей} фотографии, и мы тоже смотрим {list:её|твоя|его|моя|свой|свои|своём|своей} фотографии.')

				if select == 2
					.drop_items
						p Выберите правильную форму.
						ol
							li!= item('Виктор каждый день вечером {list:смотрит|посмотрел} телевизор. Но сегодня он очень устал и не {list:смотрел|посмотрел} телевизор.')
							li!= item('Обычно я {list:меняю|поменял} валюту в банкомате на улице Свободы. А сегодня я не {list:поменял|менял} валюту в этом банкомате, потому что он не работал.')
							li!= item('Елена всегда {list:покупает|купила} продукты в супемаркете «Седьмой континент». Но вчера её муж ездил в супермаркет и {list:купил|покупал} там продукты.')
							li!= item('Друзья часто {list:помогали|помогли} друг другу, когда было трудно.')
							li!= item('Мой папа любит вкусную еду, и он всегда {list:готовит|приготовить} один. Два дня назад он {list:готовил|приготовил} очень вкусную рыбу.')
							li!= item('Андрей всегда {list:звонит|позвонит} Марте вечером после работы. Но сегодня Марта не услышала Андрея, потому что он не {list:позвонил|звонил}.')

				if select == 3
					.drop_items
						p Выберите правильный вариант.:
						ol
							li!= item('– Вера, ты уже {list:смотрела|посмотрела} новый фильм на DVD?')
							li!= item('- Да, {list:смотрела|посмотрела}, могу дать этот фильм тебе.')
							li!= item('– Скажи, Татьяна, ты уже {list:купила|покупала} подарок Пьеру ?')
							li!= item('- Да, в воскресенье я ездила в магазин и {list:купила|покупала} хороший подарок.')
							li!= item('- А что ты {list:купила|покупала}?')
							li!= item('- Я  {list:купила|покупала} ему новый мобильный телефон.')
							li!= item('Ирина {list:прочитала|читала} книгу о Тургеневе и узнала, когда и как жил этот русский писатель.')
							li!= item('Виктор {list:услышал|слышал} красивую песню и потом спел её для меня.')
							li!= item('Туристы {list:сфотографировали|фотографировали} интересные места в Петербурге и потом показывали фотографии друг другу.')
							li!= item('– Сергей, где билеты в театр? Куда ты их {list:положил|клал}?')
							li!= item('- Я  их {list:положил|клал} на стол у зеркала, посмотри там.')