extends ../../../index.jade

block vars
	- var task = 'Письмо'
	- var items = 1

block columns
	.exercise_column
		.exercise_blocks_block
			include ../../../types/drop.jade
			.exercise_block(class='drop_words')

				if select == 1
					.drop_items
						p Выберите правильную форму совершенного вида глагола
						ol
							li!= item('петь - {list:спеть|сыграть|взять|построить|найти|прочитать|положить|сфотографировать|узнать|рассказать|помочь|покупать|позвонить}')
							li!= item('играть - {list:сыграть|спеть|взять|построить|найти|прочитать|положить|сфотографировать|узнать|рассказать|помочь|покупать|позвонить}')
							li!= item('брать - {list:взять|спеть|сыграть||построить|найти|прочитать|положить|сфотографировать|узнать|рассказать|помочь|покупать|позвонить}')
							li!= item('строить – {list:построить|взять|спеть|сыграть|найти|прочитать|положить|сфотографировать|узнать|рассказать|помочь|покупать|позвонить}')
							li!= item('искать – {list:найти|взять|спеть|сыграть||построить|прочитать|положить|сфотографировать|узнать|рассказать|помочь|покупать|позвонить}')
							li!= item('читать – {list:прочитать|взять|спеть|сыграть| построить|найти|положить|сфотографировать|узнать|рассказать|помочь|покупать|позвонить}')
							li!= item('класть - {list:положить|взять|спеть|сыграть||построить|найти|прочитать|сфотографировать|узнать|рассказать|помочь|покупать|позвонить}')
							li!= item('фотографировать - {list:сфотографировать|взять|спеть|сыграть||построить|найти|прочитать|положить|узнать|рассказать|помочь|покупать|позвонить}')
							li!= item('знать – {list:узнать|взять|спеть|сыграть||построить|найти|прочитать|положить|сфотографировать|рассказать|помочь|покупать|позвонить}')
							li!= item('рассказывать – {list:рассказать,взять|спеть|сыграть||построить|найти|прочитать|положить|сфотографировать|узнать|помочь|покупать|позвонить}')
							li!= item('помогать – {list:помочь|взять|спеть|сыграть|построить|найти|прочитать|положить|сфотографировать|узнать|рассказать|покупать|позвонить}')
							li!= item('купить – {list:покупать|взять|спеть|сыграть|построить|найти|прочитать|положить|сфотографировать|узнать|рассказать|помочь|позвонить}')
							li!= item('звонить –{list: позвонить| взять|спеть|сыграть||построить|найти|прочитать|положить|сфотографировать|узнать|рассказать|помочь|покупать}')