extends ../../../index.jade

block vars
	- var task = 'Лексические упражнения'
	- var items = 1

block columns
	.exercise_column
		.exercise_blocks_block
			include ../../../types/drop.jade
			.exercise_block(class='drop_words')

				if select == 1
					.drop_items
						p Выберите подходящий по смыслу глагол совершенного или несовершенного вида.
						ol
							li!= item('Мы долго {list:искали|нашли|покупали|купили|звонили|позвонили|заказали} кассу театра, но не нашли её.')
							li!= item('Вы {list:искали|нашли|покупали|купили|звонили|позвонили|заказали} мне 10 минут назад?')
							li!= item('Посмотри, Елена и Андрей {list:купили|нашли|покупали|искали|звонили|позвонили|заказали} новую машину «Тойота», вон она у дома!')
							li!= item('Мои родители очень часто {list:покупали|нашли|искали|купили|звонили|позвонили|заказали} книги  в магазине «Дом книги».')
							li!= item('Туристы {list:позвонили|нашли|покупали|купили|звонили|искали|заказали} в гостиницу и {list:заказали|нашли|покупали|купили|звонили|искали|позвонили} хороший номер с завтраком?.')
							li!= item('Мы {list:нашли|позвонили|покупали|купили|звонили|искали|заказали} в путеводителе важную информацию о Москве, теперь мы знаем, что нужно смотреть.')