extends ../../../index.jade

block vars
	- var task = 'Грамматические упражнения'
	- var items = 3

block columns
	.exercise_column
		.exercise_blocks_block
			include ../../../types/drop.jade
			.exercise_block(class='drop_words')

				if select == 1
					.drop_items
						p Допишите слова.
						ol
							li!= item('Иван раньше жил в {list:Москве|Москва|Москвы} и недавно приехал из {list:Москвы|Москва|Москве}.')
							li!= item('Пётр жил раньше в {list:Калуге|Калуга|Калуги} и недавно приехал из {list:Калуги|Калуга|Калуге}.')
							li!= item('Альберто жил раньше в {list:Риме|Рим|Рима} и недавно приехал из {list:Рима|Рим|Риме}.')
							li!= item('Дебора жила раньше в {list:Германии|Германия|Германию} и недавно приехала из {list:Германии|Германия|Германию}.')
							li!= item('Анна  жила в раньше {list:Киеве|Киев|Киева} и приехала недавно из {list:Киева|Киев|Киеве}.')
							li!= item('Татьяна жила раньше в {list:Италии|Италия|Италию} и приехала недавно из {list:Италии|Италия|Италию}.')

				if select == 2
					.drop_items
						p Допишите слова.
						ol
							li!= item('Как {list:называется|называются|зовут} этот театр около метро?')
							li!= item('Как {list:зовут|называются|называется} этого студента?')
							li!= item('Как {list:называются|называется|зовут} эти странные фрукты?')
							li!= item('Как {list:зовут|называются|называется}твою собаку?')
							li!= item('Как {list:называется|называются|зовут} эта станция метро?')
							li!= item('Как {list:зовут|называются|называется} эту актрису?')

				if select == 3
					.drop_items
						p Допишите слова.
						ol
							li!= item('Газетный киоск {list:на|в|недалеко от} улице.')
							li!= item('Я работаю {list:недалеко от|в|на} дома.')
							li!= item('Вот мой билет {list:на|недалеко от|в} метро.')
							li!= item('Деньги я хочу поменять {list:в|недалеко от|на} банкомате.')
							li!= item('Театр находится {list:недалеко от|на|в} вокзала.')
							li!= item('Касса находится {list:в|недалеко от|на} гостинице?')
							li!= item('Марина пригласила меня {list:на|недалеко от|в} концерт.')
							li!= item('{list:Недалеко от|На|В} города есть красивый парк.')