extends ../../../index.jade

block vars
	- var task = 'Грамматические упражнения'
	- var items = 2

block columns
	.exercise_column
		.exercise_blocks_block
			include ../../../types/drop.jade
			.exercise_block(class='drop_words')

				if select == 1
					.drop_items
						p Вставить пропущенные слова в текст:
						ol
							li!= item('Вот фотография, здесь {list:наша|его} семья. ')
							li!= item('{list:Мы|Они} сейчас дома. ')
							li!= item('Это {list:мои|мой} родители.')
							li!= item('Вот тут {list:мой|моя} папа, {list:его|её} зовут Иван Петрович.')
							li!= item('{list:Он|Его} таксист.')
							li!= item('Слева – {list:моя|мой} мама, {list:её|его} зовут Наталья Николаевна.')
							li!= item('{list:Она|Её} юрист.')
							li!= item('Наверху - {list:моя|она} сестра.')
							li!= item('{list:Моя|Она} сестра студентка, {list:её|его} зовут Анна.')
							li!= item('Внизу – я, {list:я|мой} тоже студент.')
							li!= item('{list:Меня|Я} зовут Андрей.')

				if select == 2
					.drop_items
						p Вставить пропущенные местоимение.
						ol
							li!= item('{list:чей|чья|чьё|чьи} это этаж? Это {list:наш|наша|наше|наши} этаж')
							li!= item('{list:чья|чей|чьё|чьи} эта бабушка? Это {list:наша|наш|наше|наши} бабушка.')
							li!= item('{list:чьи|чей|чьё|чья} это деньги? Это {list:твои|твоя|твоё|твой} деньги.')
							li!= item('{list:чья|чей|чьё|чьи} это площадь? Это {list:твоя|твои|твоё|твой} площадь.')
							li!= item('{list:чьи|чей|чьё|чья} это улицы? Это {list:их|она|они} улицы.')
							li!= item('{list:чьё|чей|чьи|чья} это такси? Это {list:моё|моя|мои} такси..')