extends ../../../index.jade

block vars
	- var task = 'Грамматические упражнения'
	- var items = 3

block columns
	.exercise_column
		.exercise_blocks_block
			include ../../../types/drop.jade
			.exercise_block(class='drop_words')

				if select == 1
					.drop_items
						p Вставьте пропущенные местоимения:
						ol
							li!= item('{list:Я|Ты|Они|Вы|Тебе|Она|Мы} люблю картошку.')
							li!= item('{list:Ты|Я|Они|Вы|Тебе|Она|Мы} хочешь рис?')
							li!= item('{list:Они|Я|Ты|Вы|Тебе|Она|Мы} сегодня не работают.')
							li!= item('{list:Вы|Они|Я|Ты|Тебе|Она|Мы} слышите меня?')
							li!= item('{list:Тебе|Вы|Они|Я|Ты|Она|Мы} нравится этот вкусный завтрак?')
							li!= item('{list:Она|Тебе|Вы|Они|Я|Ты|Мы} ничего не слышит.')
							li!= item('{list:Мы|Она|Тебе|Вы|Они|Я|Ты} не любим пиво.')

				if select == 2
					.drop_items
						p Вставьте глагол в форме прошедшего времени:
						ol
							li!= item('Мы {list:думали|думаем|думаешь|думать}, что наша гостиница здесь.')
							li!= item('Лёва {list:хотел|хочет|хотеть|хотим} пиво «Балтика».')
							li!= item('Джон и Лёва {list:завтракали|завтракать|завтракают|завтракаю} утром в гостинице.')
							li!= item('Официантка {list:дала|дать|даёт|даю} меню.')
							li!= item('Что твоя жена {list:сказала|сказать|скажет|скажут}?')
							li!= item('Мы ничего не {list:видели|видишь|видим|видят} на столе.')

				if select == 3
					.drop_items
						p Выберите правильную форму глагола:
						ol
							li!= item('{list:Дайте|Дать|Даёшь|Даёте} мне счёт, пожалуйста!')
							li!= item('Пожалуйста, {list:покажите|показать|покажешь|покажете} мне этот номер!')
							li!= item('{list:Скажите|Сказать|Скажешь|Скажем} мне ваш телефон!')
							li!= item('Я не {list:слышу|слышать|слышишь|слышь} ничего, {list:говори|говорить|говоришь|говорим} громче!')
							li!= item('{list:Делай|Делает|Делать|Делали} эту работу хорошо!')