extends ../../../index.jade

block vars
	- var task = 'Грамматические упражнения'
	- var items = 5

block columns
	.exercise_column
		.exercise_blocks_block
			include ../../../types/drop.jade
			.exercise_block(class='drop_words')

				if select == 1
					.drop_items
						p Выберите правильную форму.
						ol
							li!= item('– Что вы делали вчера вечером?')
							li!= item('- Мы были в театре, {list:смотрели|посмотрели} спектакль.')
							li!= item('– Ты знаешь Чехова? Это знаменитый русский писатель, он писал рассказы, пьесы.')
							li!= item('- Да, я {list:слышал|услышал} о Чехове, но я никогда не {list:читал|прочитал} его рассказы и не {list:видел|увидел} его пьесы.')
							li!= item('– Что сейчас {list:делает|делала} Маша?')
							li!= item('- Она сейчас {list:звонит|позвонит} по телефону. Два часа назад она тоже{list:звонила|позвонила} по телефону.')
							li!= item('– Иван, ты был занят в субботу?')
							li!= item('- Да, представь себе, я {list:работал|поработал} в субботу.')
							li!= item('- Как жалко! А мы {list:отдыхали|отдохнули} в субботу: ездили за город и {list:фотографировали|сфотографировали} друг друга.')
							li!= item('– Мы во вторник были в кино, {list:смотрели|посмотрели} новый французский фильм. А ты что {list:делала|сделала}?')
							li!= item('- А я после работы была на концерте, {list:слушала|послушала} классическую музыку. Мне очень понравилось!')

				if select == 2
					.drop_items
						p Выберите правильное окончание.
						ol
							li!= item('Марина, ты будешь работать в {list:июле|июль|июлю}?')
							li!= item('Студенты в России начинают учиться в {list:сентябре|сентябрь|сентябрём}.')
							li!= item('{list:Март|Марте|Марту}в России ещё холодный месяц, в {list:марте|марту|марта} часто идёт снег.')
							li!= item('Какой {list:месяц|месяце|месяца} ты любишь?')
							li!= item('Я очень люблю {list:апрель|апреле|апреля}, потому что я люблю {list:весну|весна|весне}')
							li!= item('Осенью у нас часто идёт дождь, а в {list:ноябре|ноябрю|ноябрь} даже идёт снег')

				if select == 3
					.drop_items
						p Выберите правильный вариант.
						ol
							li!= item('Вчера я целый вечер {list:смотрела|посмотрела} новый детектив по телевизору.')
							li!= item('Елена по телефону долго {list:рассказывала|рассказала} мне о своей новой работе.')
							li!= item('Мы {list:отдыхали|отдохнули} на море целый месяц.')
							li!= item('Саша {list:ждал|подождал}  свою девушку у кинотеатра полчаса.')
							li!= item('Ты {list:готовишь|приготовишь} обед уже 3 часа, я не могу больше ждать, я хочу есть!')
							li!= item('Художник {list:показывал|показал} нам свои картины два часа.')

				if select == 4
					.drop_items
						p Выберите правильный вариант.
						ol
							li!= item('- Иван, скажи, пожалуйста, сколько сейчас времени?')
							li!= item('- Сейчас  ещё {list:три|в три} часа.')
							li!= item('- А когда мы должны быть у Маши?')
							li!= item('- Маша приглашала домой {list:в четыре|четыре} часа.')
							li!= item('- Когда и где ты будешь ждать нас?')
							li!= item('- Я буду ждать вас {list:в семь часов|семь часов} около станции метро.')
							li!= item('– Когда вы обычно кончаете работать?')
							li!= item('- Обычно я кончаю работать {list:в шесть часов|шесть часов}.')
							li!= item('- А сколько времени вы работаете каждый день?')
							li!= item('- Я работаю обычно {list:восемь часов|в восемь часов} в день.')
							li!= item('– Ты не знаешь, ехать до Петербурга долго?')
							li!= item('- Да нет, недолго. Я люблю ездить на поезде днём, этот поезд идёт {list:пять часов|в пять часов}. Я беру хороший детектив и читаю все {list:пять часов|в пять часов}.')

				if select == 5
					.drop_items
						p Выберите правильный вариант.
						ol
							li!= item('- Что ты делал вчера, когда смотрел футбол  после ужина?')
							li!= item('- Когда я смотрел футбол по телевизору, я {list:пил|выпил} пиво.')
							li!= item('- А твоя жена? Она тоже пила пиво и смотрела футбол?!')
							li!= item('- Нет, когда я смотрел футбол, она {list:говорила|сказала} по телефону.')
							li!= item('– Когда ты гуляешь по городу, ты {list:фотографируешь|сфотографируешь} красивые здания и улицы?')
							li!= item('- Нет, когда я гуляю, я не люблю фотографировать, я просто {list:смотрю|посмотрю} на красивые улицы и здания.')
							li!= item('– Сильвия, когда вы смотрите по-русски программу «Новости», вы всё {list:понимаете|поймёте}?')
							li!= item('- Конечно, нет! Когда я смотрю программы по-русски, я только {list:понимаю|пойму}, о чём люди говорят.')