extends ../../../index.jade

block vars
	- var task = 'Письмо'
	- var items = 1

block columns
	.exercise_column
		.exercise_blocks_block
			include ../../../types/drop.jade
			.exercise_block(class='drop_words')

				if select == 1
					.drop_items
						p Вставьте пропущенные личные местоимения (я, ты, он, она, мы, вы, они)
						ol
							li!= item('{list:ты|я|он|она|мы|вы|они} идёшь покупать билеты на концерт?')
							li!= item('{list:я|ты|он|она|мы|вы|они} ездила путешествовать в Европу прошлым летом.')
							li!= item('{list:мы|ты|он|она|я|вы|они} едем сейчас в поезде в Саратов.')
							li!= item('{list:они|ты|он|она|мы|вы|я} идут сегодня в Кремль на экскурсию.')
							li!= item('{list:я|ты|он|она|мы|вы|они} шла на работу утром, как обычно.')
							li!= item('{list:вы|ты|он|она|мы|я|они} едете на машине или на троллейбусе?.')